@use '../../spacing';
@use '../../colors';

.navigation {
  --active-item-color: var(--color-primary-dark);
  --inactive-item-color: var(--gray-light);
  --hover-item-color: var(--gray);

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline;
      padding-left: var(--space-xxs);
      padding-right: var(--space-xxs);

      .active {
        border-bottom: 2px solid var(--active-item-color);
        color: var(--active-item-color);
      }

      a {
        text-decoration: none;
        color: var(--inactive-item-color);

        &:hover {
          color: var(--hover-item-color);
        }
      }
    }
  }
}
