@use '../../colors';
@use '../../spacing';

.loading {
  --spinner-size: 60px;
  --spinner-weight: 2px;
  --spinner-message-color: var(--color-primary);
  --spinner-circle-color: var(--color-primary-lighter);
  --spinner-spin-color: var(--color-primary-dark);

  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;

  &__content {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.spinner {
  width: var(--spinner-size);
  height: var(--spinner-size);
  display: inline-block;
  border-width: var(--spinner-weight);
  border-color: var(--spinner-circle-color);
  border-top-color: var(--spinner-spin-color);
  border-radius: 100%;
  border-style: solid;

  animation: spin 1s infinite linear;
}

.message {
  @extend .margin-top--sm;

  color: var(--spinner-message-color);
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
